.button {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all ease 0.4s;
}

.button:hover {
    background-color: #CCC;
}

.window { 
    width: 600px;
    height: 200px;
    background-color: #F00;
    display: none;
}
